.jumbotron{

    background-color: #37454d;
    color:white;
    margin-top: 50px;



}

/*.btn{
    color: black;
    background-color: teal;
    
}*/

.card-hotel{

    flex: 1 200px;
    margin-top: 10px;


}


.btn-reserva{

    width: 100%;
    border-radius: 0;
    
}

.tab-content{

    padding-top: 10px;


}


footer{

    padding: 10px, 10px, 0px, 10px;
    background-color:#37454d;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
}

.footer-address-icon{
    padding-right: 10px;


}

.card-hotel-icon{

    padding-right: 10px;

}

.contact-plus{


    padding-right: 10px;


}