@yellow:#fffa19;

.margenes(@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;

}

.jumbotron {
    background-color: @yellow;
    color: white;
    .margenes(50px, 0px);
}
  
  /*.btn{
      color: black;
      background-color: teal;
      
  }*/
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px);
}
  
  .btn-reserva {
    width: 100%;
    border-radius: 0;
 }
  
  .tab-content {
    padding-top: 10px;
 }
  
  footer {
    padding: 10px, 10px, 0px, 10px;
    background-color:@yellow;
    .margenes(10px, 0px);
    color: white; 
}