.jumbotron {
  background-color: #ffff;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}

/*.btn{
    color: black;
    background-color: teal;

}*/
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0;
}

.tab-content {
  padding-top: 10px;
}

footer {
  padding: 10px, 10px, 0px, 10px;
  background-color: #ffff;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
