$red:rgb(255, 0, 0);
$green:rgb(102, 255, 0);
$yellow:rgb(255, 238, 0);

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;

}



.jumbotron{

    background-color: $gray;
    color:white;
    @include margenes(50px, 0px);
    



}

/*.btn{
    color: black;
    background-color: teal;
    
}*/

.card-hotel{

    flex: 1 200px;
    @include margenes(10px, 0px);


}

.btn-reserva{

    width: 100%;
    border-radius: 0;

    
}

.tab-content{

    padding-top: 10px;


}


footer{

    padding: 10px, 10px, 0px, 10px;
    background-color:$gray;
    @include margenes(10px, 0px);
    color: white;
}